nav
	.container
		button.fa.fa-bars
		button.fa.fa-times
		ul.navigation
			li: a(href=to_home) Home
			li: a(href=to_drlogic, target="_blank") DrLogic
			li: a(href=to_apap, target="_blank") Apap
			li: a(href=to_presidente, target="_blank") Presidente
			li: a(href=to_bpr, target="_blank") BPR Bank

		.links
			a.fa.fa-linkedin(href=linkedin, target="_blank", alt="Linkedin Profile")
			a.fa.fa-codepen(href=codepen, target="_blank", alt="Codepen Profile")
			a.fa.fa-globe(href=portfolioC, target="_blank", alt="Portfolio")
			a.fa.fa-globe(href=portfolioA, target="_blank", alt="Portfolio")